In [4]:
base = float(input("Enter a base: "))
exponent = int(input("Enter an exponent: "))
print("{} to the power of {} =".format(base,exponent),(base)** (exponent))

5.0 to the power of 2 = 25.0

In [ ]:
#Function to square and cube a number
def square(number):
    num_sqr = number ** 2
    return num_sqr

num = input("Enter your number to be squared: ")
sqr_output = square(int(num))
print(sqr_output)

def cube(number):
    num_cube = number ** 3
    return num_cube

num = int(input("Enter number to be cubed: "))
cube_num = cube(num)
print(cube_num)

Enter your number to be squared: 5
25
Enter number to be cubed: 5
125

In [ ]:
#Function to cube a number
def cube(number):
    num_cube = number ** 3
    return num_cube

num = input("Enter your number to be cubed: ")
cube_output = cube(int(num))
print(cube_output)

Enter your number to be cubed: 3
27

In [ ]:
#function to multiply two numbers
def multiply(num1,num2):
    num_multi = num1 * num2
    return num_multi

num1 = input("Enter a number: ")
num2 = input("Enter second number: ")

multi_output = multiply(int(num1),int(num2))
print(multi_output)

Enter a number: 5
Enter second number: 8
40

In [ ]:
#function to convert celcius to fahrenheit
def cel_to_farh(number):
    farh = number * (9/5) + 32
    return farh

num = input("Enter degree in celsius: ")
farh_output = cel_to_farh(int(num))
print(farh_output, "degrees fahrenheit")

def farh_to_cel(number):
    cel = (number - 32) * (5/9) 
    return cel

num = input("Enter degree in farh: ")
cel_output = farh_to_cel(int(num))
print(cel_output, "degrees celsius")

Enter degree in celsius: 37
98.60000000000001
Enter degree in farh: 72
22.22222222222222

In [ ]:
#While loop 
n = 1
while(n <= 6):
    print("n= ",n)
    n += 1
print("loop terminated")

n=  1
n=  2
n=  3
n=  4
n=  5
n=  6
loop terminated

In [ ]:
#for loop
for n in range(2, 7, 2):
    print("n= ",n)
print("loop terminated")

n=  2
n=  4
n=  6
loop terminated

In [ ]:
#For loop
for n in range(1,4):
    for j in ["a","b","c"]:
        print("n=", n, "and j=",j)

n= 1 and j= a
n= 1 and j= b
n= 1 and j= c
n= 2 and j= a
n= 2 and j= b
n= 2 and j= c
n= 3 and j= a
n= 3 and j= b
n= 3 and j= c

In [ ]:
#while loop
n= 2
while(n < 11):
    print("n=",n)
    n += 1
print("loop end")

n= 2
n= 3
n= 4
n= 5
n= 6
n= 7
n= 8
n= 9
n= 10
loop end

In [ ]:
#while loop
n= 2
while(n < 11):
    print("n=",n).
    
    n += 1
print("loop end")

n= 2
n= 3
n= 4
n= 5
n= 6
n= 7
n= 8
n= 9
n= 10
loop end

In [ ]:
#Function that calculates compound interest
def comp_intrst(principal,rate,time):
    intrst_rtn = principal * (1 + rate)**time
    return intrst_rtn

principal = int(input("Enter the principal amount: "))
rate = float(input("Enter rate: "))
time = int(input("Enter the time period: "))

invest_output = comp_intrst(principal,rate,time)
print(invest_output)

Enter the principal amount: 100
Enter rate: 0.05
Enter the time period: 2
110.25

In [ ]:
#Function that calculates compound interest gained over nth period of time

def comp_intrst(principal,rate,time):
    intrst_rtn = principal * (1 + rate)**time
    return intrst_rtn

principal = int(input("Enter the principal amount: "))
rate = float(input("Enter rate: "))
time = int(input("Enter the time period: "))
time_period = time + 1
n=1

for n in range(1,time_period):
    
    invest_output = comp_intrst(principal,rate,n)
    print("year",n,":",invest_output )
    n += 1

Enter the principal amount: 5000000
Enter rate: 0.15
Enter the time period: 5
year 1 : 5750000.0
year 2 : 6612499.999999999
year 3 : 7604374.999999999
year 4 : 8745031.249999996
year 5 : 10056785.937499996

In [ ]:
#for loop
for n in range(2,11):
    print(n)

2
3
4
5
6
7
8
9
10

In [ ]:
n=2
while n < 11:
    print(n)
    n+=1

2
3
4
5
6
7
8
9
10

In [ ]:
n=1
x=2
while n < 4:
    print(x*2)
    
    n+=1

4
4
4

In [ ]:
def doubles(num):
    for i in range(3):
        num = num * 2
        print(num)
doubles(2)

4
8
16

In [ ]:
doubles(3)

6
12
24

In [ ]:
def triple_double(num):
    count = 0
    while count < 3:
        num *= 2
        print(num)
        count += 1
triple_double(2)

4
8
16

In [5]:
count = 0
num = int(input("Enter a number: "))
while count < 3:
    num *= 2
    print(num)
    count += 1

4
8
16

In [3]:
i = 1
n = 10
while True:
    if i % 17 == 0:
        print("break!!")
        break
    else:
        i += 1
        print("break")
        continue
print("outside the loop")

break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break!!
outside the loop

In [2]:
list = []
for i in range(10):
    print(i)
    list.append(i**3)
print(list)

0
1
2
3
4
5
6
7
8
9
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]